@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.row {
    height: calc(100% / 3);
}

.row:nth-child(1),
.row:nth-child(3) {
    height: 100px;
}

.rowContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    animation: 1s ease-out 0s 1 slideInLeft;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}


/* Additional styling */

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.container {
    border: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    background-color: grey;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

#showyourself {
    display: none;
}

#chameleon-header {
    display: none;
}